/* line 1, ../../app/stylesheets/reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 10, ../../app/stylesheets/reset.sass */
body {
  line-height: 1;
}

/* line 13, ../../app/stylesheets/reset.sass */
ol, ul {
  list-style: none;
}

/* line 16, ../../app/stylesheets/reset.sass */
blockquote, q {
  quotes: none;
}

/* line 20, ../../app/stylesheets/reset.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 25, ../../app/stylesheets/reset.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 29, ../../app/stylesheets/reset.sass */
ins {
  text-decoration: none;
}

/* line 32, ../../app/stylesheets/reset.sass */
del {
  text-decoration: line-through;
}

/* line 35, ../../app/stylesheets/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 39, ../../app/stylesheets/reset.sass */
.clear {
  clear: both;
}

/* line 42, ../../app/stylesheets/reset.sass */
body {
  font: 13px/1.5 "Lucinda Grande", Arial, Helvetica, Verdana, "Liberation Sans", FreeSans, sans-serif;
}

/* line 45, ../../app/stylesheets/reset.sass */
a:focus {
  outline: 1px dotted invert;
}

/* line 48, ../../app/stylesheets/reset.sass */
hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 55, ../../app/stylesheets/reset.sass */
h1 {
  font-size: 25px;
}

/* line 58, ../../app/stylesheets/reset.sass */
h2 {
  font-size: 21px;
}

/* line 61, ../../app/stylesheets/reset.sass */
h3 {
  font-size: 19px;
}

/* line 64, ../../app/stylesheets/reset.sass */
h4 {
  font-size: 17px;
}

/* line 67, ../../app/stylesheets/reset.sass */
h5 {
  font-size: 15px;
}

/* line 70, ../../app/stylesheets/reset.sass */
h6 {
  font-size: 14px;
}

/* line 73, ../../app/stylesheets/reset.sass */
ol {
  list-style: decimal;
}

/* line 76, ../../app/stylesheets/reset.sass */
ul {
  list-style: square;
}

/* line 79, ../../app/stylesheets/reset.sass */
li {
  margin-left: 30px;
}

/* line 82, ../../app/stylesheets/reset.sass */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

/* line 85, ../../app/stylesheets/reset.sass */
body {
  font-size: 75%;
  color: #222222;
  background: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 4, ../../app/stylesheets/application.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* line 8, ../../app/stylesheets/application.sass */
#header {
  margin-bottom: 10px;
  width: 900px;
  color: white;
  position: relative;
}
/* line 13, ../../app/stylesheets/application.sass */
#header h1 {
  display: inline-block;
}
/* line 15, ../../app/stylesheets/application.sass */
#header h1 a {
  text-decoration: none;
  color: black;
}
/* line 18, ../../app/stylesheets/application.sass */
#header #nav-menu {
  position: absolute;
  right: 0;
}
/* line 21, ../../app/stylesheets/application.sass */
#header #nav-menu a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
}
/* line 25, ../../app/stylesheets/application.sass */
#header #nav-menu a:hover {
  text-decoration: underline;
}

/* line 30, ../../app/stylesheets/application.sass */
#maps-header h1 a {
  text-decoration: none;
  color: black;
}
/* line 34, ../../app/stylesheets/application.sass */
#maps-header #nav-menu a {
  color: black;
  text-decoration: none;
}
/* line 37, ../../app/stylesheets/application.sass */
#maps-header #nav-menu a:hover {
  text-decoration: underline;
}

/* line 41, ../../app/stylesheets/application.sass */
#container {
  width: 900px;
  padding: 10px;
  background: white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -460px;
  z-index: 200;
  border: 4px solid #555555;
}

/* line 53, ../../app/stylesheets/application.sass */
#maps-container {
  width: 300px;
  padding: 10px;
  background: white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: absolute;
  top: 7%;
  right: 20px;
  height: 88%;
  z-index: 200;
  border: 4px solid #555555;
  overflow: none;
}

/* line 66, ../../app/stylesheets/application.sass */
#map_canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

/* line 74, ../../app/stylesheets/application.sass */
a.button {
  padding: 6px 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: solid 1px #999999;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#dddddd));
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px white;
  line-height: 1;
}
/* line 13, ../../app/stylesheets/mixins.sass */
a.button:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#dddddd));
}
/* line 15, ../../app/stylesheets/mixins.sass */
a.button:active {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#dddddd));
}
/* line 17, ../../app/stylesheets/mixins.sass */
a.button.large {
  padding: 12px 20px;
  font-size: 21px;
  font-weight: bold;
}
/* line 21, ../../app/stylesheets/mixins.sass */
a.button.scaled {
  -webkit-transform: scale(2);
  -webkit-transform-origin: bottom left;
}

/* line 77, ../../app/stylesheets/application.sass */
body #intuitPlatformAppMenu {
  right: 120px;
}
